body {
	margin: 15px 15px 15px 15px;
	margin-top: 0px;
    /*background-image: url("images/repBack.jpg");
    background-repeat: repeat-y;*/
}


ul.things {
	padding-left: 10px;
}

ul.things li {
	list-style-type: none;
}

ul.things li.new {
	margin-top: 20px;
	margin-bottom: 20px;
}

span.author {
	font-size: smaller;
	font-style: italic;
}

div.thingcontainer {
	background-color: #C0C0C0;
	padding: 10px 10px 10px 10px;
	border-radius: 8px;
}

p.thingtitle {
	font-size: larger;
	font-weight: bold;
	margin-bottom: 0px;
}

p.thingtagline {
	margin-top: 0;
	font-size: smaller;
	font-style: italic;
}

p.thingdescription {
	background-color: #D5D5D5;
	padding: 10px 10px 10px 10px;
	border-radius: 8px;
	margin-bottom: 5px;
}

p.thingattachment {
	font-size: smaller;
	font-style: italic;
	text-align: right;
	margin: 0 0 0 0;
}

div.breadcrumbs {
	font-size: smaller;
	margin-bottom: 3px;
}

ul.comments {
	padding-left: 10px;
	list-style-type: none;
}

ul.comments li {
	background: url('images/speechbubble_sm2.png') no-repeat left top;
	height: auto;
	padding-left: 60px;
	padding-top: 3px;
	margin-bottom: 15px;
	min-height: 50px;
}

div form input[type="text"], div form input[type="password"], div form textarea {
	margin-top: 10px;
}

input[type="submit"] {
	margin-top: 10px;
	margin-bottom: 20px;
}

p.footer {
	margin-top: 50px;
}

@media only screen and (min-width: 800px) {
	div.search {
		float: right;
	}
}

p.commentattachment {
	font-size: smaller;
	font-style: italic;
	margin-top: 0;
	margin-bottom: 0;
}

div.error {
	display: inline-block;
	background-color: #ffcccc;
	border-radius: 6px;
	padding: 5px 5px 5px 5px;
	width: auto;
	font-size: smaller;
}

div.message {
	display: inline-block;
	background-color: #ccffcc;
	border-radius: 6px;
	padding: 5px 5px 5px 5px;
	width: auto;
}

div.newattachmenttype {
	background-color: #ccffcc;
}




/************************MY CODE************************************/
* {
  box-sizing: border-box;
  font-family: "Century Gothic";
}

body {
  margin: 0px;
  font-family: 'segoe ui';
}

.nav {
  height: 50px;
  width: 100%;
  background-color: #4d4d4d;
  position: relative;
}

.nav > .nav-header {
  display: inline;
}

.nav > .nav-header > .nav-title {
  display: inline-block;
  font-size: 22px;
  color: #fff;
  padding: 10px 10px 10px 10px;
}

.nav > .nav-btn {
  display: none;
}

.nav > .nav-links {
  display: inline;
  float: right;
  font-size: 18px;
}

.nav > .nav-links > a {
  display: inline-block;
  padding: 13px 10px 13px 10px;
  text-decoration: none;
  color: #efefef;
}

.nav > .nav-links > a:hover {
  background-color: rgba(0, 0, 0, 0.3);
}

.nav > #nav-check {
  display: none;
}

@media (max-width:600px) {
  .nav > .nav-btn {
    display: inline-block;
    position: absolute;
    right: 0px;
    top: 0px;
  }
  .nav > .nav-btn > label {
    display: inline-block;
    width: 50px;
    height: 50px;
    padding: 13px;
  }
  .nav > .nav-btn > label:hover {
    background-color: rgba(0, 0, 0, 0.3);
  }
  .nav > .nav-btn > label > span {
    display: block;
    width: 25px;
    height: 10px;
    border-top: 2px solid #eee;
  }
  .nav > .nav-links {
    position: absolute;
    display: block;
    width: 100%;
    background-color: #333;
    height: 0px;
    transition: all 0.3s ease-in;
    overflow-y: hidden;
    top: 50px;
    left: 0px;
  }
  .nav > .nav-links > a {
    display: block;
    width: 100%;
  }
  .nav > #nav-check:not(:checked) + .nav-links {
    height: 0px;
  }
  .nav > #nav-check:checked + .nav-links {
    height: calc(100vh - 50px);
    overflow-y: auto;
  }
}